doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Manopriya Krishnan

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Manopriya Krishnan
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Manopriya 
                        span.text-primary Krishnan
                    .subheading.mb-5
                        | Alpharetta,&nbsp; Georgia &nbsp;- 30004 &nbsp; · &nbsp;  (805) 953-6559 &nbsp;  · &nbsp;
                        a(href='mailto:name@email.com') krishnanmanopriya@gmail.com
                    p.lead.mb-5
                        | I'm experienced in building Web and Mobile User Interface (UI) using ReactJS framework, JavaScript, jQuery, and Bootstrap that follow W3C Web Standards and are browser compatible. I have strong interpersonal and communication skills and self-motivated individual showing the ability to learn and use new technologies and frameworks in considerably less time.

                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/priya-krishnan-588412264/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/ManopriyaKrishnan')
                            i.fab.fa-github
                        a.social-icon(href='https://twitter.com/home')
                            i.fab.fa-twitter
                        a.social-icon(href='https://www.instagram.com/manopriya_krishnan/?hl=en')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 React JS Freelancer
                            .subheading.mb-3 Samayal Restaurant
                            p
                                | Implemented frontend design for the restaurant as freelancing and developed the same application with Mobile compatibility as well.
                        .flex-shrink-0
                            span.text-primary Aug 2022 – May 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 React JS Freelancer
                            .subheading.mb-3 City Flowers
                            p
                                | Developed React pages with a passion for creating intuitive and visually appealing web applications and built a fully functional online store for a bouquet business using React and Redux. Implemented product catalog, shopping cart functionality, and secure user authentication.
                        .flex-shrink-0
                            span.text-primary March 2022 – Sep 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 ReactJS Developer
                            .subheading.mb-3 Elevance Health
                            p
                                | Developed user interface screens by using ReactJS, Bootstrap, and Flux for SPA development. Worked in an Agile environment that includes daily scrum with the team, sprint planning, Grooming, and retro sessions. Integrated multiple RESTFUL web services Asynchronously with ReactJS and manipulate databases on user’s interaction with UI screens.
                        .flex-shrink-0
                            span.text-primary May 2018 – Mar 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Junior UI Developer
                            .subheading.mb-3 BNY Mellon
                            p
                                | Participated with business analysts to understand the business requirements including converting mock-ups or wireframes into single-page applications utilizing HTML5, CSS3, Bootstrap, and JavaScript.
                        .flex-shrink-0
                            span.text-primary April 2013 – Sep 2016

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Anna University
                            .subheading.mb-3 Bachelor of Engineering
                            div Computer Science
                            p GPA: 3.9
                        .flex-shrink-0
                            span.text-primary June 2009 - May 2013

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-bootstrap
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-github
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a web developer, I enjoy most of my time being outdoors hiking with my family. And I feel it is a fantastic outdoor activity that offers a multitude of benefits, including physical fitness, mental well-being, and an opportunity to connect with nature.
                    p.mb-0
                        | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')